
      <div class="barra alone">
        <a href="/inicio" >
          <img src="../../assets/images/logounab.png" alt="Logotipo de Bienes Raices" />
        </a>
  
        <nav class="navegacion">
          <a href="/nosotros">Nosotros</a>
          <a href="https://www.unab.edu.co/programas">Programas</a>
          <a href="https://www.unab.edu.co/contacto#anchorform">Contacto</a>
          <a href="https://www.unab.edu.co/pqrsf">PQRSF</a>
        </nav>
      </div>
      <!-- contenedor -->
  
      <h1 class= "boton-header"> <span style="background-color: #ffac4e;"> Agenda tu Equipo en Game Dev Lab</span></h1>

      <div>ESTO SOLO ESTA EN TESTING!</div>